# Lists

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [15]:
a_list = [1, "hello", [1,2,3], True]

Find the value stored at index 1 of a_list.

In [17]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [18]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [20]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

# Sets

Cast the following list to a set: ['A','B','C','A','B','C']

In [22]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

#### Add an element to the Set

Add the string 'D' to the set S

In [23]:
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

#### Intersections

Find the intersection of set A and B

In [25]:
A={1,2,3,4,5}
B={1,3,9, 12}
A & B

{1, 3}